@model PassionProject_n01651646.Models.InquiryDto

@{
    ViewBag.Title = "Details";
}

<a href="/Inquiry/ListInquiries">Go back to list</a>
<h2>@Model.PetName</h2>
<div>Username: @Model.Username</div>
<div>Inquiry Text: @Model.InquiryText</div>

